<!-- Video Area Start -->
<div id="video-area" class="video-area section pb-80 pt-110">
  <div class="container">
    <div class="row">

      <!-- Video Embed -->
      <div class="col-md-6 col-xs-12 mb-30">
        <div class="video-wrapper embed-responsive embed-responsive-16by9"><iframe class="embed-responsive-item"
            src="https://www.youtube.com/embed/U6YNAikV-Lo"></iframe></div>
      </div>

      <!-- Video Content -->
      <div class="video-content col-md-6 col-xs-12 mb-30">
        <h1>WHAT IS <span>SEO?</span></h1>
        <p>But I must explain to you how all this min idea opleasure and praising pain was born and Igive you a complete
          account of the system, and expound the acal teachings of the great explorer truth, the master-er of human
          happiness. No one rejects, dislikes, or avoids plesu because it is pleasure, but because those who do not </p>
        <a href="#" class="read-more">LEARN MORE</a>
      </div>

    </div>
  </div>
</div>
<!-- Video Area End -->
