<!-- Video Area Start -->
<div id="video-area" class="video-area section pb-80 pt-110">
  <div class="container">
    <div class="row">

      <!-- Video Embed -->
      <div class="col-md-6 col-xs-12 mb-30">
        <div class="video-wrapper embed-responsive embed-responsive-16by9"><iframe class="embed-responsive-item"
            src="https://www.youtube.com/embed/U6YNAikV-Lo"></iframe></div>
      </div>

      <!-- Video Content -->
      <div class="video-content col-md-6 col-xs-12 mb-30">
        <h1>WHAT IS <span>SEO?</span></h1>
        <p>Make the online marketing technique that helps you to bring your website on top in search engines results,
          straight through our SEO services. Our verified SEO strategy will take your business to amazing heights. Rank
          your website prominently by choosing our finest ranked and skilled SEO agency. Our agency offers more
          visibility to your website. We use complex algorithms to provide you with the most relevant results.</p>
        <a routerLink="/services" class="read-more">LEARN MORE</a>
      </div>

    </div>
  </div>
</div>
<!-- Video Area End -->
