<!-- Footer Top Area Start -->
<div id="footer-top-area" class="footer-top-area section pb-20 pt-20">
  <div class="container">

    <div class="row">


      <!-- Footer Widget -->
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="footer-widget">
          <h4 class="title">QUICK <span>LINKS</span></h4>
          <div class="link-widget">
            <ul>
              <li class="mb-0"><a routerLink="/about">About</a></li>
              <li class="mb-0"><a routerLink="/services">Services</a></li>
              <li class="mb-0"><a routerLink="/portfolio">Our Portfolio</a></li>
              <li class="mb-0"><a routerLink="/blog">Blog</a></li>
              <li class="mb-0"><a routerLink="/contact">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
      

      <!-- Footer Widget -->
      <div class="col-md-5 col-sm-6 col-xs-12">
        <div class="footer-widget">
          <h4 class="title">CONTACT <span>US</span></h4>
          <div class="contact-info-widget">
            <p>3rd Floor, NSL Centrum Mall, Road No 1, KPHB Phase 5, Hyderabad, Telangana 500072</p>
            <ul>
              <li>P : 99 85 58 8803 / 04</li>
              <li>E : info@promotel.in</li>
            </ul>
          </div>
        </div>
      </div>

      

      <!-- Footer Widget -->
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="footer-widget">
          <div class="about-widget">
            <img src="assets/img/logo.png" alt="" width="200px" class="mb-0">
            <p>We grow your business digitally</p>
          </div>
          <div class="newsletter-widget">
            <div class="social">
              <a href="mailto:info@promotel.in"><i class="zmdi zmdi-email"></i></a>
              <a href="https://www.facebook.com/Promotel-104566848523692" target="_blank"><i class="zmdi zmdi-facebook"></i></a>
              <a href="https://www.instagram.com/promotel.agency" target="_blank"><i class="zmdi zmdi-instagram"></i></a>
            </div>
          </div>
          
        </div>
      </div>

      <!-- Footer Widget -->
      <!-- <div class="col-md-3 col-sm-6 col-xs-12 mb-30">
        <div class="footer-widget">
          <h4 class="title">SUBSCRIBE <span>NOW</span></h4>
          <div class="newsletter-widget">
            <p>There are many variations ofof reavalable, but the majority </p>
            <div class="newsletter-form">
              <form action="#">
                <input type="text" placeholder="Email">
                <button><i class="zmdi zmdi-mail-send"></i></button>
              </form>
            </div>
            <div class="social">
              <a href="#"><i class="zmdi zmdi-facebook"></i></a>
              <a href="#"><i class="zmdi zmdi-rss"></i></a>
              <a href="#"><i class="zmdi zmdi-google-plus"></i></a>
              <a href="#"><i class="zmdi zmdi-pinterest"></i></a>
              <a href="#"><i class="zmdi zmdi-instagram"></i></a>
            </div>
          </div>
        </div>
      </div> -->

    </div>

  </div>
</div>
<!-- Footer Top Area End -->

<!-- Footer Bottom Area Start -->
<div class="footer-bottom-area">
  <div class="container">
    <div class="row">

      <!-- Copyright -->
      <div class="copyright text-left col-sm-6 col-xs-12">
        <p>Copyright &copy; <span>Promotel</span> 2021.All right reserved.</p>
      </div>

      <!-- Author Credit -->
      <!-- <div class="author-credit text-right col-sm-6 col-xs-12">
        <p>Created by <a href="http://devitems.com/">Devitems</a> With <i class="zmdi zmdi-favorite"></i></p>
      </div> -->

    </div>
  </div>
</div>
<!-- Footer Bottom Area End -->
