<!-- Footer Top Area Start -->
<div id="footer-top-area" class="footer-top-area section pb-40 pt-40 mt-40">
  <div class="container">

    <div class="row">

      <!-- Footer Widget -->
      <div class="col-md-4 col-sm-6 col-xs-12 mb-30">
        <div class="footer-widget">
          <div class="about-widget">
            <img src="assets/img/logo.png" alt="" width="200px">
            <p>We grow your business digitally</p>
          </div>
        </div>
      </div>

      <!-- Footer Widget -->
      <div class="col-md-3 col-sm-6 col-xs-12 mb-30">
        <div class="footer-widget">
          <h4 class="title">CONTACT <span>US</span></h4>
          <div class="contact-info-widget">
            <p>ur address goes here,stree Crossroad123.</p>
            <ul>
              <li>P : 99 55 66 88 526</li>
              <li>F : 55 44 77 62</li>
              <li>E : seoexp@email.com</li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Footer Widget -->
      <div class="col-md-2 col-sm-6 col-xs-12 mb-30">
        <div class="footer-widget">
          <h4 class="title">QUICK <span>LINKS</span></h4>
          <div class="link-widget">
            <ul>
              <li><a href="#">Our Services</a></li>
              <li><a href="#">Our Company</a></li>
              <li><a href="#">Vision & Mission</a></li>
              <li><a href="#">Our Product</a></li>
              <li><a href="#">Our Fajlami</a></li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Footer Widget -->
      <div class="col-md-3 col-sm-6 col-xs-12 mb-30">
        <div class="footer-widget">
          <h4 class="title">SUBSCRIBE <span>NOW</span></h4>
          <div class="newsletter-widget">
            <p>There are many variations ofof reavalable, but the majority </p>
            <div class="newsletter-form">
              <form action="#">
                <input type="text" placeholder="Email">
                <button><i class="zmdi zmdi-mail-send"></i></button>
              </form>
            </div>
            <div class="social">
              <a href="#"><i class="zmdi zmdi-facebook"></i></a>
              <a href="#"><i class="zmdi zmdi-rss"></i></a>
              <a href="#"><i class="zmdi zmdi-google-plus"></i></a>
              <a href="#"><i class="zmdi zmdi-pinterest"></i></a>
              <a href="#"><i class="zmdi zmdi-instagram"></i></a>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
<!-- Footer Top Area End -->

<!-- Footer Bottom Area Start -->
<div class="footer-bottom-area">
  <div class="container">
    <div class="row">

      <!-- Copyright -->
      <div class="copyright text-left col-sm-6 col-xs-12">
        <p>Copyright &copy; <span>Promotel</span> 2021.All right reserved.</p>
      </div>

      <!-- Author Credit -->
      <!-- <div class="author-credit text-right col-sm-6 col-xs-12">
        <p>Created by <a href="http://devitems.com/">Devitems</a> With <i class="zmdi zmdi-favorite"></i></p>
      </div> -->

    </div>
  </div>
</div>
<!-- Footer Bottom Area End -->
