<!-- Case Study Area Start -->
<div id="case-study-area" class="case-study-area section pb-110 pt-110">
  <div class="container">

    <div class="row">
      <div class="section-title title-white text-center col-xs-12 mb-80">
        <h1>Our Portfolio</h1>
      </div>
    </div>

    <div class="row">

      <!-- Case Slider -->
      <div class="case-slider">

        <!-- Single Case -->
        <div class="case-item" *ngFor="let item of portfoliosections">
          <a href="assets/img/case/1.jpg" class="case-image image-popup fix"><img src="assets/img/case/1.jpg"
              alt=""></a>
          <div class="case-content">
            <a href="#">All the Lorem Ipsum gener</a>
            <p>Randomised words which don't look n slightly believable. If you are going to use a passayou need to be
              sure kew ki..</p>
          </div>
        </div>

      </div>

    </div>

  </div>
</div>
<!-- Case Study Area End -->
