<!-- Page Banner Area Start -->
<div class="page-banner-area section pb-60 pt-60">
  <div class="container">
    <div class="row">
      <div class="page-banner col-xs-12">
        <h2>About us</h2>
        <ul class="breadcrumb">
          <li><a href="#">Home</a></li>
          <li><a href="#">About us</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- Page Banner Area End -->

<!-- Feature Area Start -->
<div id="feature-area" class="feature-area section pb-110 pt-110">
  <div class="container">
    <div class="row">

      <!-- Feature Slider -->
      <div class="feature-slider">

        <!-- Single Feature -->
        <div class="col-xs-12">
          <div class="single-feature green">
            <img class="icon" src="assets/img/feature/1.png" alt="">
            <img class="bg-image" src="assets/img/feature/1-big.png" alt="">
            <h4>Seo Optimization</h4>
            <p>Anything embarrassing hide in the middle of text. All the Lorem Ipsum generators on the</p>
          </div>
        </div>

        <!-- Single Feature -->
        <div class="col-xs-12">
          <div class="single-feature red">
            <img class="icon" src="assets/img/feature/2.png" alt="">
            <img class="bg-image" src="assets/img/feature/2-big.png" alt="">
            <h4>Web Analysis</h4>
            <p>Anything embarrassing hide in the middle of text. All the Lorem Ipsum generators on the</p>
          </div>
        </div>

        <!-- Single Feature -->
        <div class="col-xs-12">
          <div class="single-feature navy">
            <img class="icon" src="assets/img/feature/3.png" alt="">
            <img class="bg-image" src="assets/img/feature/3-big.png" alt="">
            <h4>Email Marketing</h4>
            <p>Anything embarrassing hide in the middle of text. All the Lorem Ipsum generators on the</p>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
<!-- Feature Area End -->

<!-- Video Area Start -->
<div id="video-area" class="video-area section pb-80 pt-110">
  <div class="container">
    <div class="row">

      <!-- Video Embed -->
      <div class="col-md-6 col-xs-12 mb-30">
        <div class="video-wrapper embed-responsive embed-responsive-16by9"><iframe class="embed-responsive-item"
            src="https://www.youtube.com/embed/U6YNAikV-Lo"></iframe></div>
      </div>

      <!-- Video Content -->
      <div class="video-content col-md-6 col-xs-12 mb-30">
        <h1>WHAT IS <span>SEO?</span></h1>
        <p>But I must explain to you how all this min idea opleasure and praising pain was born and Igive you a complete
          account of the system, and expound the acal teachings of the great explorer truth, the master-er of human
          happiness. No one rejects, dislikes, or avoids plesu because it is pleasure, but because those who do not </p>
        <a href="#" class="read-more">LEARN MORE</a>
      </div>

    </div>
  </div>
</div>
<!-- Video Area End -->

<!-- Solutions Area Start -->
<div id="solutions-area" class="solutions-area section pb-80 pt-110">
  <div class="container">
    <div class="row">

      <!-- Solution Image -->
      <div class="solutions-image col-md-5 float-right col-xs-12 mb-30">
        <img src="assets/img/solutions.png" alt="">
      </div>

      <!-- Solution Content -->
      <div class="solutions-content col-md-7 col-xs-12 mb-30">
        <h2>Best Solutions</h2>
        <h1>For Your Business</h1>
        <p>Passages of Lorem Ipsum available, but the majority have suffered ation in some form, by injected humour, or
          randomised words which don't look even slightly belvable. If you are going to use looking at its layout. The
          point of using Lorem Ipsum has more-or-less normal distribution of letters, as opposed to using</p>
        <a href="#" class="read-more">Contact Us</a>
      </div>

    </div>
  </div>
</div>
<!-- Solutions Area End -->

<!-- Team Area Start -->
<div id="team-area" class="team-area section pb-80 pt-110">
  <div class="container">

    <div class="row">
      <div class="section-title text-center col-xs-12 mb-80">
        <h1>OUR GREAT TEAM</h1>
      </div>
    </div>

    <div class="row">

      <!-- Single Team -->
      <div class="col-md-3 col-sm-6 col-xs-12 mb-30">
        <div class="single-team">
          <div class="image"><img src="assets/img/team/1.jpg" alt=""></div>
          <div class="team-info">
            <h4>Jane Doe</h4>
            <p>seo specialist</p>
            <div class="social">
              <a href="#"><i class="zmdi zmdi-facebook"></i></a>
              <a href="#"><i class="zmdi zmdi-twitter"></i></a>
              <a href="#"><i class="zmdi zmdi-linkedin"></i></a>
              <a href="#"><i class="zmdi zmdi-google-plus"></i></a>
            </div>
          </div>
        </div>
      </div>


      <!-- Single Team -->
      <div class="col-md-3 col-sm-6 col-xs-12 mb-30">
        <div class="single-team">
          <div class="image"><img src="assets/img/team/2.jpg" alt=""></div>
          <div class="team-info">
            <h4>Kevin Walsh</h4>
            <p>seo specialist</p>
            <div class="social">
              <a href="#"><i class="zmdi zmdi-facebook"></i></a>
              <a href="#"><i class="zmdi zmdi-twitter"></i></a>
              <a href="#"><i class="zmdi zmdi-linkedin"></i></a>
              <a href="#"><i class="zmdi zmdi-google-plus"></i></a>
            </div>
          </div>
        </div>
      </div>


      <!-- Single Team -->
      <div class="col-md-3 col-sm-6 col-xs-12 mb-30">
        <div class="single-team">
          <div class="image"><img src="assets/img/team/3.jpg" alt=""></div>
          <div class="team-info">
            <h4>Jonathon Mark</h4>
            <p>Marketer</p>
            <div class="social">
              <a href="#"><i class="zmdi zmdi-facebook"></i></a>
              <a href="#"><i class="zmdi zmdi-twitter"></i></a>
              <a href="#"><i class="zmdi zmdi-linkedin"></i></a>
              <a href="#"><i class="zmdi zmdi-google-plus"></i></a>
            </div>
          </div>
        </div>
      </div>


      <!-- Single Team -->
      <div class="col-md-3 col-sm-6 col-xs-12 mb-30">
        <div class="single-team">
          <div class="image"><img src="assets/img/team/4.jpg" alt=""></div>
          <div class="team-info">
            <h4>Henry Jones</h4>
            <p>Content Marketer</p>
            <div class="social">
              <a href="#"><i class="zmdi zmdi-facebook"></i></a>
              <a href="#"><i class="zmdi zmdi-twitter"></i></a>
              <a href="#"><i class="zmdi zmdi-linkedin"></i></a>
              <a href="#"><i class="zmdi zmdi-google-plus"></i></a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- Team Area End -->
