<!-- Team Area Start -->
<div id="team-area" class="team-area section pb-80 pt-110">
  <div class="container">

    <div class="row">
      <div class="section-title text-center col-xs-12 mb-80">
        <h1>OUR GREAT TEAM</h1>
      </div>
    </div>

    <div class="row">

      <!-- Single Team -->
      <div class="col-md-3 col-sm-6 col-xs-12 mb-30">
        <div class="single-team">
          <div class="image"><img src="assets/img/team/1.jpg" alt=""></div>
          <div class="team-info">
            <h4>Jane Doe</h4>
            <p>seo specialist</p>
            <div class="social">
              <a href="#"><i class="zmdi zmdi-facebook"></i></a>
              <a href="#"><i class="zmdi zmdi-twitter"></i></a>
              <a href="#"><i class="zmdi zmdi-linkedin"></i></a>
              <a href="#"><i class="zmdi zmdi-google-plus"></i></a>
            </div>
          </div>
        </div>
      </div>


      <!-- Single Team -->
      <div class="col-md-3 col-sm-6 col-xs-12 mb-30">
        <div class="single-team">
          <div class="image"><img src="assets/img/team/2.jpg" alt=""></div>
          <div class="team-info">
            <h4>Kevin Walsh</h4>
            <p>seo specialist</p>
            <div class="social">
              <a href="#"><i class="zmdi zmdi-facebook"></i></a>
              <a href="#"><i class="zmdi zmdi-twitter"></i></a>
              <a href="#"><i class="zmdi zmdi-linkedin"></i></a>
              <a href="#"><i class="zmdi zmdi-google-plus"></i></a>
            </div>
          </div>
        </div>
      </div>


      <!-- Single Team -->
      <div class="col-md-3 col-sm-6 col-xs-12 mb-30">
        <div class="single-team">
          <div class="image"><img src="assets/img/team/3.jpg" alt=""></div>
          <div class="team-info">
            <h4>Jonathon Mark</h4>
            <p>Marketer</p>
            <div class="social">
              <a href="#"><i class="zmdi zmdi-facebook"></i></a>
              <a href="#"><i class="zmdi zmdi-twitter"></i></a>
              <a href="#"><i class="zmdi zmdi-linkedin"></i></a>
              <a href="#"><i class="zmdi zmdi-google-plus"></i></a>
            </div>
          </div>
        </div>
      </div>


      <!-- Single Team -->
      <div class="col-md-3 col-sm-6 col-xs-12 mb-30">
        <div class="single-team">
          <div class="image"><img src="assets/img/team/4.jpg" alt=""></div>
          <div class="team-info">
            <h4>Henry Jones</h4>
            <p>Content Marketer</p>
            <div class="social">
              <a href="#"><i class="zmdi zmdi-facebook"></i></a>
              <a href="#"><i class="zmdi zmdi-twitter"></i></a>
              <a href="#"><i class="zmdi zmdi-linkedin"></i></a>
              <a href="#"><i class="zmdi zmdi-google-plus"></i></a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- Team Area End -->
