<!-- Blog Area Start -->
<div id="blog-area" class="blog-area section pb-60 pt-60">
  <div class="container">

    <div class="row">
      <div class="section-title text-center col-xs-12 mb-40">
        <h1>LATEST BLOG</h1>
      </div>
    </div>

    <div class="row">

      <div class="blog-wrapper">

        <!-- Blog Item -->
        <div class="col-sm-6 col-xs-12 mb-40">
          <div class="blog-item text-left">
            <!-- <span class="date">Date 24 jun 2018</span> -->
            <h3 class="title"><a routerLink="/blogdetail">The battle between social media marketing and digital marketing</a></h3>
            <p>In a world full of technology we all are aware of social media marketing and digital marketing. Social media is more of a blend of digital marketing. Social media services are more needed for Small and medium-sized enterprises. Whereas digital marketing is a huge mix of mobile marketing, email marketing and customer relations. It encompasses all marketing efforts.</p>
            <a routerLink="/blogdetail" class="read-more">READ MORE</a>
          </div>
        </div>


      </div>

    </div>

  </div>
</div>
<!-- Blog Area End -->
