<!-- Blog Area Start -->
<div id="blog-area" class="blog-area section pb-60 pt-110">
  <div class="container">

    <div class="row">
      <div class="section-title text-center col-xs-12 mb-80">
        <h1>LATEST BLOG</h1>
      </div>
    </div>

    <div class="row">

      <div class="blog-wrapper">

        <!-- Blog Item -->
        <div class="col-sm-6 col-xs-12 mb-50">
          <div class="blog-item text-left">
            <span class="date">Date 24 jun 2018</span>
            <h3 class="title"><a href="blog-details.html">Wariations of Passages of Lorem Ipsum Available ashes
                here.</a></h3>
            <p>Must explain to you how all this mistaken idea of denouncing pl and praising pain was born and I will
              give you a complete account of the sm, ad expound the actual teachings of the great explorer of the truth,
              te ma buder of human happiness. No one rejects, dislikes,</p>
            <a href="blog-details.html" class="read-more">READ MORE</a>
          </div>
        </div>

        <!-- Blog Item -->
        <div class="col-sm-6 col-xs-12 mb-50">
          <div class="blog-item text-left">
            <span class="date">Date 24 jun 2018</span>
            <h3 class="title"><a href="blog-details.html">Wariations of Passages of Lorem Ipsum Available ashes
                here.</a></h3>
            <p>Must explain to you how all this mistaken idea of denouncing pl and praising pain was born and I will
              give you a complete account of the sm, ad expound the actual teachings of the great explorer of the truth,
              te ma buder of human happiness. No one rejects, dislikes,</p>
            <a href="blog-details.html" class="read-more">READ MORE</a>
          </div>
        </div>

      </div>

    </div>

  </div>
</div>
<!-- Blog Area End -->
