<!-- Solutions Area Start -->
<div id="solutions-area" class="solutions-area section pb-80 pt-110">
  <div class="container">
    <div class="row">

      <!-- Solution Image -->
      <div class="solutions-image col-md-5 float-right col-xs-12 mb-30">
        <img src="assets/img/solutions.png" alt="">
      </div>

      <!-- Solution Content -->
      <div class="solutions-content col-md-7 col-xs-12 mb-30">
        <h2>Best Solutions</h2>
        <h1>For Your Business</h1>
        <p>Passages of Lorem Ipsum available, but the majority have suffered ation in some form, by injected humour, or
          randomised words which don't look even slightly belvable. If you are going to use looking at its layout. The
          point of using Lorem Ipsum has more-or-less normal distribution of letters, as opposed to using</p>
        <a href="#" class="read-more">Contact Us</a>
      </div>

    </div>
  </div>
</div>
<!-- Solutions Area End -->
