<!-- Testimonial Area Start -->
<div id="testimonial-area" class="testimonial-area section pb-110 pt-110">
  <div class="container">

    <div class="row">

      <!-- Single Pricing -->
      <div class="testimonial-slider">

        <!-- Single Testimonial -->
        <div class="single-testimonial">
          <div class="top fix">
            <img src="assets/img/testimonial/1.jpg" alt="">
            <h3>Henry Perry</h3>
            <span>Designer</span>
          </div>
          <p>Sed ut perspiciatis unde omnis iste nu error sit voluptatem accusantium doloremq audantium, totam rem
            aperiam,</p>
        </div>

        <!-- Single Testimonial -->
        <div class="single-testimonial">
          <div class="top fix">
            <img src="assets/img/testimonial/2.jpg" alt="">
            <h3>Jack Ramirez</h3>
            <span>Designer</span>
          </div>
          <p>Sed ut perspiciatis unde omnis iste nu error sit voluptatem accusantium doloremq audantium, totam rem
            aperiam,</p>
        </div>

        <!-- Single Testimonial -->
        <div class="single-testimonial">
          <div class="top fix">
            <img src="assets/img/testimonial/3.jpg" alt="">
            <h3>Albert James</h3>
            <span>Designer</span>
          </div>
          <p>Sed ut perspiciatis unde omnis iste nu error sit voluptatem accusantium doloremq audantium, totam rem
            aperiam,</p>
        </div>

        <!-- Single Testimonial -->
        <div class="single-testimonial">
          <div class="top fix">
            <img src="assets/img/testimonial/4.jpg" alt="">
            <h3>Henry Perry</h3>
            <span>Designer</span>
          </div>
          <p>Sed ut perspiciatis unde omnis iste nu error sit voluptatem accusantium doloremq audantium, totam rem
            aperiam,</p>
        </div>

      </div>

    </div>

  </div>
</div>
<!-- Testimonial Area End -->
