.portfolio-section .section-btn {
  margin: 0px 0px;
  font-size: 16px;
  border-radius: 0;
}

.portfolio-section .section-btn.active {
  background: #001854;
  color: #fff;
  font-weight: 600;
}

.portfolio-section .section-btn:hover {
  background: #eea11d;
  color: #fff
}

.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus{
    outline: none;
}
