<app-pagebanner></app-pagebanner>
<!-- <div class="row">
  <div class="section-title text-center col-xs-12 mt-20">
    <h1>Our Portfolio</h1>
  </div>
</div> -->
<div class="container mb-20 mt-20 portfolio-section">
  <div class="row">
    <div class="col-xs-12 text-center mb-20 mt-20">
      <div class="btn-group">
        <button class="btn section-btn" [ngClass]="active_cat == cat.id ? 'active': ''" *ngFor="let cat of categories"
          (click)="active_cat = cat.id">{{cat.name}}</button>
      </div>
    </div>
  </div>

  <div class="row mb-20">
    <!-- videos -->
    <div class="" *ngIf="active_cat === 'videos'">
      <div class="col-md-4 col-xs-12 mb-10" *ngFor="let video of videos">
        <iframe width="100%" height="315" [src]="video.url" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <!-- graphics -->
    <div class="" *ngIf="(active_cat === 'graphic')">
      <div class="col-md-3 col-xs-12 mb-10" *ngFor="let graphic of graphics">
        <img [src]="graphic.url" alt="graphics" width="100%" height="315" class="img-responsive">
      </div>
    </div>
    <!-- clients -->
    <div class="" *ngIf="(active_cat === 'clients')">
      <div class="col-md-3 col-xs-12 mb-10" *ngFor="let client of clients">
        <img [src]="client.url" alt="client" width="100%" height="315" class="img-responsive">
      </div>
    </div>

  </div>

</div>
