<!-- Pricing Area Start -->
<div id="pricing-area" class="pricing-area section pb-80 pt-110">
  <div class="container">

    <div class="row">
      <div class="section-title text-center col-xs-12 mb-80">
        <h1>PRICING TABLE</h1>
      </div>
    </div>

    <div class="row">

      <!-- Single Pricing -->
      <div class="col-md-4 col-sm-6 col-xs-12 mb-30">

        <div class="single-pricing red text-center">
          <div class="price">
            <span class="currency">$</span>
            <span class="amount">35</span>
            <span class="time">/m</span>
          </div>
          <h3 class="title">PERSONAL</h3>
          <ul class="options">
            <li>One Website</li>
            <li>Five User</li>
            <li>100 GB Bandwidth</li>
            <li>2 GB Storage</li>
            <li>24x7 Support</li>
          </ul>
          <a href="#">sign up</a>
        </div>

      </div>

      <!-- Single Pricing -->
      <div class="col-md-4 col-sm-6 col-xs-12 mb-30">

        <div class="single-pricing green text-center">
          <div class="price">
            <span class="currency">$</span>
            <span class="amount">45</span>
            <span class="time">/m</span>
          </div>
          <h3 class="title">BUSINESS</h3>
          <ul class="options">
            <li>One Website</li>
            <li>Five User</li>
            <li>100 GB Bandwidth</li>
            <li>2 GB Storage</li>
            <li>24x7 Support</li>
          </ul>
          <a href="#">sign up</a>
        </div>

      </div>

      <!-- Single Pricing -->
      <div class="col-md-4 col-md-offset-0 col-sm-6 col-sm-offset-3 col-xs-12 mb-30">

        <div class="single-pricing navy text-center">
          <div class="price">
            <span class="currency">$</span>
            <span class="amount">55</span>
            <span class="time">/m</span>
          </div>
          <h3 class="title">BUSINESS</h3>
          <ul class="options">
            <li>One Website</li>
            <li>Five User</li>
            <li>100 GB Bandwidth</li>
            <li>2 GB Storage</li>
            <li>24x7 Support</li>
          </ul>
          <a href="#">sign up</a>
        </div>

      </div>

    </div>

  </div>
</div>
<!-- Pricing Area End -->
