<!-- Feature Area Start -->
<div id="feature-area" class="feature-area section pb-110 pt-110">
  <div class="container">
    <div class="row">

      <!-- Feature Slider -->
      <div class="feature-slider">

        <!-- Single Feature -->
        <div class="col-xs-12">
          <div class="single-feature green">
            <img class="icon" src="assets/img/feature/1.png" alt="">
            <img class="bg-image" src="assets/img/feature/1-big.png" alt="">
            <h4>Seo Optimization</h4>
            <p>Anything embarrassing hide in the middle of text. All the Lorem Ipsum generators on the</p>
          </div>
        </div>

        <!-- Single Feature -->
        <div class="col-xs-12">
          <div class="single-feature red">
            <img class="icon" src="assets/img/feature/2.png" alt="">
            <img class="bg-image" src="assets/img/feature/2-big.png" alt="">
            <h4>Web Analysis</h4>
            <p>Anything embarrassing hide in the middle of text. All the Lorem Ipsum generators on the</p>
          </div>
        </div>

        <!-- Single Feature -->
        <div class="col-xs-12">
          <div class="single-feature navy">
            <img class="icon" src="assets/img/feature/3.png" alt="">
            <img class="bg-image" src="assets/img/feature/3-big.png" alt="">
            <h4>Email Marketing</h4>
            <p>Anything embarrassing hide in the middle of text. All the Lorem Ipsum generators on the</p>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
<!-- Feature Area End -->
