/* .feature-slider .feature_container {
  margin: 10px auto
} */
.feature-slider .show_more_icon {
  color: #fff;
  font-size: 30px;
  cursor: pointer;

}

.feature-slider .service_desc {
  width: 75%;
  margin: 0px auto;
  font-size: 16px;
}

.feature-slider .show_more_icon i {
  -moz-animation: bounce 1s infinite linear;
  -webkit-animation: bounce 1s infinite linear;
  animation: bounce 1s infinite linear;
}

@keyframes bounce {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(10px);
  }
}
