<!-- Feature Area Start -->
<div id="feature-area" class="feature-area section pb-110 pt-110">
  <div class="container">
    <div class="row">

      <!-- Feature Slider -->
      <div class="feature-slider">
        <!-- Single Feature -->
        <div class="col-xs-12 col-md-4 mt-10 mb-10" *ngFor="let item of features">
          <div class="single-feature {{item.bg_class}}">
            <img class="icon" src="{{ item.img }}" alt="">
            <img class="bg-image" src="{{ item.bg_img }}" alt="">
            <h4>{{ item.name }}</h4>
            <p>Small description goes here...</p>
          </div>
        </div>

      </div>


    </div>
  </div>
</div>
<!-- Feature Area End -->
