<!-- Page Banner Area Start -->
<div class="page-banner-area section pb-60 pt-60">
  <div class="container">
    <div class="row">
      <div class="page-banner col-xs-12">
        <h2>Service</h2>
        <ul class="breadcrumb">
          <li><a href="#">Home</a></li>
          <li><a href="#">Service</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- Page Banner Area End -->

<!-- Serivice Area Start -->
<div id="service-area" class="service-area section pb-110 pt-110">
  <div class="container">

    <div class="row">
      <div class="section-title text-center col-xs-12 mb-80">
        <h1>BEST SERVICES</h1>
      </div>
    </div>

    <div class="row">
      <div class="service-wrapper">


        <!-- Single Service -->
        <div class="service-item col-md-6 col-xs-12">
          <div class="ss-wrap fix">
            <img src="img/service/1.png" alt="">
            <div class="content fix">
              <h3>App Depelopment</h3>
              <p>There are many variations of sages of Lorem Ipsum available, but the majrity have suffered alteration
                in some form, by injected</p>
            </div>
          </div>
        </div>

        <!-- Single Service -->
        <div class="service-item col-md-6 col-xs-12">
          <div class="ss-wrap fix">
            <img src="img/service/2.png" alt="">
            <div class="content fix">
              <h3>Email Marketing</h3>
              <p>There are many variations of sages of Lorem Ipsum available, but the majrity have suffered alteration
                in some form, by injected</p>
            </div>
          </div>
        </div>

        <!-- Single Service -->
        <div class="service-item col-md-6 col-xs-12">
          <div class="ss-wrap fix">
            <img src="img/service/3.png" alt="">
            <div class="content fix">
              <h3>Web Development</h3>
              <p>There are many variations of sages of Lorem Ipsum available, but the majrity have suffered alteration
                in some form, by injected</p>
            </div>
          </div>
        </div>

        <!-- Single Service -->
        <div class="service-item col-md-6 col-xs-12">
          <div class="ss-wrap fix">
            <img src="img/service/4.png" alt="">
            <div class="content fix">
              <h3>Web Analysis</h3>
              <p>There are many variations of sages of Lorem Ipsum available, but the majrity have suffered alteration
                in some form, by injected</p>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
<!-- Serivice Area End -->

<!-- Working Progress Area Start -->
<div id="progress-area" class="progress-area bg-gray section pb-80 pt-110">
  <div class="container">

    <div class="row">
      <div class="section-title text-center col-xs-12 mb-80">
        <h1>WORKING PROCESS</h1>
      </div>
    </div>

    <div class="row">

      <!-- Single Progress -->
      <div class="single-progress text-center col-md-3 col-md-offset-0 col-sm-5 col-sm-offset-1 col-xs-12 mb-30">
        <img src="img/progress/1.png" alt="">
        <h4>idea</h4>
        <p>There are many vins of LoreIp sum available,ashes </p>
      </div>

      <!-- Single Progress -->
      <div class="single-progress text-center col-md-3 col-sm-5 col-xs-12 mb-30">
        <img src="img/progress/2.png" alt="">
        <h4>Process</h4>
        <p>There are many vins of LoreIp sum available,ashes </p>
      </div>

      <!-- Single Progress -->
      <div class="single-progress text-center col-md-3 col-md-offset-0 col-sm-5 col-sm-offset-1 col-xs-12 mb-30">
        <img src="img/progress/3.png" alt="">
        <h4>Development</h4>
        <p>There are many vins of LoreIp sum available,ashes </p>
      </div>

      <!-- Single Progress -->
      <div class="single-progress text-center col-md-3 col-sm-5 col-xs-12 mb-30">
        <img src="img/progress/4.png" alt="">
        <h4>launch</h4>
        <p>There are many vins of LoreIp sum available,ashes </p>
      </div>

    </div>

  </div>
</div>
<!-- Working Progress Area End -->

<!-- Pricing Area Start -->
<div id="pricing-area" class="pricing-area section pb-80 pt-110">
  <div class="container">

    <div class="row">
      <div class="section-title text-center col-xs-12 mb-80">
        <h1>PRICING TABLE</h1>
      </div>
    </div>

    <div class="row">

      <!-- Single Pricing -->
      <div class="col-md-4 col-sm-6 col-xs-12 mb-30">

        <div class="single-pricing red text-center">
          <div class="price">
            <span class="currency">$</span>
            <span class="amount">35</span>
            <span class="time">/m</span>
          </div>
          <h3 class="title">PERSONAL</h3>
          <ul class="options">
            <li>One Website</li>
            <li>Five User</li>
            <li>100 GB Bandwidth</li>
            <li>2 GB Storage</li>
            <li>24x7 Support</li>
          </ul>
          <a href="#">sign up</a>
        </div>

      </div>

      <!-- Single Pricing -->
      <div class="col-md-4 col-sm-6 col-xs-12 mb-30">

        <div class="single-pricing green text-center">
          <div class="price">
            <span class="currency">$</span>
            <span class="amount">45</span>
            <span class="time">/m</span>
          </div>
          <h3 class="title">BUSINESS</h3>
          <ul class="options">
            <li>One Website</li>
            <li>Five User</li>
            <li>100 GB Bandwidth</li>
            <li>2 GB Storage</li>
            <li>24x7 Support</li>
          </ul>
          <a href="#">sign up</a>
        </div>

      </div>

      <!-- Single Pricing -->
      <div class="col-md-4 col-md-offset-0 col-sm-6 col-sm-offset-3 col-xs-12 mb-30">

        <div class="single-pricing navy text-center">
          <div class="price">
            <span class="currency">$</span>
            <span class="amount">55</span>
            <span class="time">/m</span>
          </div>
          <h3 class="title">BUSINESS</h3>
          <ul class="options">
            <li>One Website</li>
            <li>Five User</li>
            <li>100 GB Bandwidth</li>
            <li>2 GB Storage</li>
            <li>24x7 Support</li>
          </ul>
          <a href="#">sign up</a>
        </div>

      </div>

    </div>

  </div>
</div>
<!-- Pricing Area End -->
