<div id="blog-area" class="blog-area section pb-60 pt-110">
    <div class="container">
        
        <div class="row">
        
            <!-- Blog Details Wrapper -->
            <div class="blog-details-wrapper col-lg-12 col-12 mb-50">
			
				<!-- Single Blog Details -->
				<div class="single-blog-details fix">
				    
				    
									    
				    <!-- Blog Details Content -->
					<div class="blog-details-content fix">
						<h3 class="blog-title">Wariations of Passages of Lorem Ipsum Available ashes here.</h3>
						<div class="blog-meta fix">
							<a href="#"><i class="zmdi zmdi-calendar-check"></i> 25 Jun 2050</a>
							<a href="#"><i class="zmdi zmdi-folder"></i> Web Design</a>
						</div>
						<p>There are many variaons of passages of Lorem Ipsuable, amrn in some by injected humour, There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
						<p>There are many variaons of passages of Lorem Ipsuable, amrn in some by injected humour, There are many variations of passages of Lorem Ipsum available,</p>
						
							<p>but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Loremsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
						
						<p>Lorem Ipsuable, amrn in some by injected humour, There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
					</div>
									    
				    
					
				</div>
				
				
			</div>
            
            
        </div>
        
    </div>
</div>