<!-- Serivice Area Start -->
<div id="service-area" class="service-area section pb-50 pt-50">
  <div class="container">

    <div class="row">
      <div class="section-title text-center col-xs-12 mb-40">
        <h1>KEY SERVICES</h1>
      </div>
    </div>

    <div class="row">
      <div class="service-wrapper">


        <!-- Single Service -->
        <div class="service-item col-md-6 col-xs-12">
          <div class="ss-wrap fix">
            <img src="assets/img/service/1.png" alt="">
            <div class="content fix">
              <h3>Social Media Management</h3>
              <p>In the world of marketing, start utilizing the new form of communications like Facebook, LinkedIn, YouTube, Twitter, Instagram etc with our social media promotions. </p>
            </div>
          </div>
        </div>

        <!-- Single Service -->
        <div class="service-item col-md-6 col-xs-12">
          <div class="ss-wrap fix">
            <img src="assets/img/service/2.png" alt="">
            <div class="content fix">
              <h3>Digital Consultation</h3>
              <p>Make your digital marketing strategy on the right track through our digital consultancy services. We provide SEO, SEM, social media promotion, web design, web development and email marketing services. We execute the right technology to digitize your operations.</p>
            </div>
          </div>
        </div>

        <!-- Single Service -->
        <div class="service-item col-md-6 col-xs-12">
          <div class="ss-wrap fix">
            <img src="assets/img/service/3.png" alt="">
            <div class="content fix">
              <h3>Web Designing & Development</h3>
              <p>Obtain customized solutions through our web designing. We develop it technically by turning visitors into your customers. Our website attribute control plans testing usability, security testing and testing the functionality of all links.</p>
            </div>
          </div>
        </div>

        <!-- Single Service -->
        <div class="service-item col-md-6 col-xs-12">
          <div class="ss-wrap fix">
            <img src="assets/img/service/4.png" alt="">
            <div class="content fix">
              <h3>3D Animation</h3>
              <p>We use the art of motion to bring an eye-catching experience to the customers with our 3d animation and give life to the media we post. In recent times 3d animation is a big deal out there but not for us. We make 3d animation easy as pie in no time.</p>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
<!-- Serivice Area End -->
