<!-- Serivice Area Start -->
<div id="service-area" class="service-area section pb-110 pt-110">
  <div class="container">

    <div class="row">
      <div class="section-title text-center col-xs-12 mb-80">
        <h1>BEST SERVICES</h1>
      </div>
    </div>

    <div class="row">
      <div class="service-wrapper">


        <!-- Single Service -->
        <div class="service-item col-md-6 col-xs-12">
          <div class="ss-wrap fix">
            <img src="assets/img/service/1.png" alt="">
            <div class="content fix">
              <h3>App Depelopment</h3>
              <p>There are many variations of sages of Lorem Ipsum available, but the majrity have suffered alteration
                in some form, by injected</p>
            </div>
          </div>
        </div>

        <!-- Single Service -->
        <div class="service-item col-md-6 col-xs-12">
          <div class="ss-wrap fix">
            <img src="assets/img/service/2.png" alt="">
            <div class="content fix">
              <h3>Email Marketing</h3>
              <p>There are many variations of sages of Lorem Ipsum available, but the majrity have suffered alteration
                in some form, by injected</p>
            </div>
          </div>
        </div>

        <!-- Single Service -->
        <div class="service-item col-md-6 col-xs-12">
          <div class="ss-wrap fix">
            <img src="assets/img/service/3.png" alt="">
            <div class="content fix">
              <h3>Web Development</h3>
              <p>There are many variations of sages of Lorem Ipsum available, but the majrity have suffered alteration
                in some form, by injected</p>
            </div>
          </div>
        </div>

        <!-- Single Service -->
        <div class="service-item col-md-6 col-xs-12">
          <div class="ss-wrap fix">
            <img src="assets/img/service/4.png" alt="">
            <div class="content fix">
              <h3>Web Analysis</h3>
              <p>There are many variations of sages of Lorem Ipsum available, but the majrity have suffered alteration
                in some form, by injected</p>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
<!-- Serivice Area End -->
