<!-- Hero Area Start -->
<div id="hero-area" class="hero-area hero-slider section">

  <div class="hero-slider">
    <div class="hero-item" style="background-image: url('assets/img/slider1.jpg');">
      <div class="container">
        <div class="row">

          <div class="content col-lg-8 col-md-7 col-xs-12">
            <h2>Let us make</h2>
            <h1>Your website stand out</h1>
            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
              in some form, by injectedhumour, randomised wordswhich don't look eve. ami lol bolte valobasi tai all time
              lol boli</p>
            <a href="#" class="read-more">LEARN MORE</a>
          </div>
          <div class="col-lg-4 col-md-5 hidden-sm hidden-xs">
            <div class="">
              <!-- <img src="assets/img/slider1.jpg" alt="slider1"> -->
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>
<!-- Hero Area End -->

<app-featuresection></app-featuresection>
<app-videosection></app-videosection>
<app-solutionsection></app-solutionsection>
<app-progresssection></app-progresssection>
<app-casestudysection></app-casestudysection>
<app-testimonialsection></app-testimonialsection>
