<!-- Hero Area Start -->
<div id="hero-area" class="hero-area hero-slider section">

  <div class="hero-slider">
    <div class="hero-item">
      <div class="container">
        <div class="row">

          <div class="content col-lg-6 col-md-6 col-xs-12">
            <h1>Promotel</h1>
            <h2>we grow your business digitally</h2>
            <!-- <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
              in some form, by injectedhumour, randomised wordswhich don't look eve. ami lol bolte valobasi tai all time
              lol boli</p> -->
            <a routerLink="/services" class="read-more mt-20">LEARN MORE</a>
          </div>
          <div class="col-lg-6 col-md-6 hidden-sm hidden-xs">
            <div class="">
              <img src="assets/img/slider1.png" alt="slider1" class="w-100">
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>
<!-- Hero Area End -->

<app-servicesection></app-servicesection>
<app-videosection></app-videosection>
<app-solutionsection></app-solutionsection>
<app-progresssection></app-progresssection>
<app-casestudysection></app-casestudysection>
<!-- <app-testimonialsection></app-testimonialsection> -->
