<!-- Working Progress Area Start -->
<div id="progress-area" class="progress-area section pb-80 pt-110">
  <div class="container">

    <div class="row">
      <div class="section-title text-center col-xs-12 mb-80">
        <h1>WORKING PROCESS</h1>
      </div>
    </div>

    <div class="row">

      <!-- Single Progress -->
      <div class="single-progress text-center col-md-3 col-md-offset-0 col-sm-5 col-sm-offset-1 col-xs-12 mb-30">
        <img src="assets/img/progress/1.png" alt="">
        <h4>idea</h4>
        <p>There are many vins of LoreIp sum available,ashes </p>
      </div>

      <!-- Single Progress -->
      <div class="single-progress text-center col-md-3 col-sm-5 col-xs-12 mb-30">
        <img src="assets/img/progress/2.png" alt="">
        <h4>Process</h4>
        <p>There are many vins of LoreIp sum available,ashes </p>
      </div>

      <!-- Single Progress -->
      <div class="single-progress text-center col-md-3 col-md-offset-0 col-sm-5 col-sm-offset-1 col-xs-12 mb-30">
        <img src="assets/img/progress/3.png" alt="">
        <h4>Development</h4>
        <p>There are many vins of LoreIp sum available,ashes </p>
      </div>

      <!-- Single Progress -->
      <div class="single-progress text-center col-md-3 col-sm-5 col-xs-12 mb-30">
        <img src="assets/img/progress/4.png" alt="">
        <h4>launch</h4>
        <p>There are many vins of LoreIp sum available,ashes </p>
      </div>

    </div>

  </div>
</div>
<!-- Working Progress Area End -->
